<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="buttonBack()"></ion-back-button>
    </ion-buttons>
    <ion-title><h1><b>{{tripleWord.spanish_word}}</b></h1> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle><h1>Castellano</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.spanish_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.spanish_example}}</p><br>
          <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle>
          <p>{{tripleWord.spanish_phonetics}}</p><br>
          <ion-button  clear item-end large (click)="playAudio(tripleWord.spanish_phonetics)"><ion-icon name="play"></ion-icon></ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle><h1>Inglés</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.english_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.english_example}}</p><br>
          <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle>
          <p>{{tripleWord.english_phonetics}}</p><br>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle><h1>Quechua</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.quechua_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.quechua_example}}</p><br>
          <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle>
          <p>{{tripleWord.quechua_phonetics}}</p><br>
        </ion-card-content>
    </ion-card>

</ion-content>
