<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="buttonBack()"></ion-back-button>
    </ion-buttons>
    <ion-title><h1><b>{{tripleWord.spanish_word}}</b></h1> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle ><h1>Castellano</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.spanish_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.spanish_example}}</p><br>
          <div class="ion-text-center">
            <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle><br>
            <!-- <ion-button  clear item-end large (click)="playAudio(tripleWord.spanish_phonetics)">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button> -->
            <ion-button  clear item-end large (click)="playAudioSpanish(tripleWord);">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button>
            <ion-button  clear item-end large (click)="stopAudioSpanish();">Detener&nbsp;&nbsp;<ion-icon name="square"></ion-icon></ion-button>
          </div> 
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle><h1>Inglés</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.english_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.english_example}}</p><br>
          <div class="ion-text-center">
            <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle><br>
            <!-- <ion-button  clear item-end large (click)="playAudio(tripleWord.english_phonetics)">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button> -->
            <ion-button  clear item-end large (click)="playAudioEnglish(tripleWord);">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button>
            <ion-button  clear item-end large (click)="stopAudioEnglish();">Detener&nbsp;&nbsp;<ion-icon name="square"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
        <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
        <ion-card-header>
          <ion-card-subtitle><h1>Quechua</h1></ion-card-subtitle>
          <ion-card-title>{{tripleWord.quechua_word}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle><h3><b>Ejemplo</b></h3></ion-card-subtitle>
          <p>{{tripleWord.quechua_example}}</p><br>
          <div class="ion-text-center">
            <ion-card-subtitle><h3><b>Fonética</b> </h3></ion-card-subtitle><br>
            <!-- <ion-button  clear item-end large (click)="playAudio(tripleWord.quechua_phonetics)">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button> -->
            <ion-button  clear item-end large (click)="playAudioQuechua(tripleWord);">Reproducir&nbsp;&nbsp;<ion-icon name="play"></ion-icon></ion-button>
            <ion-button  clear item-end large (click)="stopAudioQuechua();">Detener&nbsp;&nbsp;<ion-icon name="square"></ion-icon></ion-button>
          </div>
        </ion-card-content>
    </ion-card>

</ion-content>
