<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="buttonBack()"></ion-back-button>
    </ion-buttons>
    <ion-title><h1><b>{{title}}</b></h1></ion-title>
    <ion-buttons slot="primary">
      <ion-button color="" fill="outline" routerLink="/item-list/{{destiny}}/new">
        Nuevo
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card" *ngFor="let item of itemList">

        <ion-img src="{{item.imagePath}}"></ion-img>
        <div class="ion-text-center">
            <ion-card-content>
                <ion-card-subtitle><h2><b>Castellano</b></h2></ion-card-subtitle>
                <h1>{{item.spanish_word}}</h1><br>
                <ion-card-subtitle><h2><b>Inglés</b></h2></ion-card-subtitle>
                <h1>{{item.english_word}}</h1><br>
                <ion-card-subtitle><h2><b>Quechua</b> </h2></ion-card-subtitle>
                <h1>{{item.quechua_word}}</h1><br>
              </ion-card-content>
        </div>
        
    </ion-card>

</ion-content>
