<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
    <ion-buttons slot="primary">
        <ion-button color="primary" fill="outline" href="/triple-words/new">
          Nuevo
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list lines="none">
        <ion-list-header>
          <ion-label>Diccionario</ion-label>
        </ion-list-header>
        <ion-item >
            <ion-label><h5>Español</h5></ion-label> <ion-label><h5> Inglés</h5></ion-label> <ion-label> <h5> Quechua</h5></ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/" *ngFor="let word of tripleWordList">
          <!-- <ion-icon slot="start" color="medium" name="book"></ion-icon> -->
          <ion-label>{{word.spanish_word}}</ion-label> <ion-label>{{word.english_word}}</ion-label> <ion-label>{{word.quechua_word}}</ion-label>
        </ion-item>
        
      </ion-list>

</ion-content>
