<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <h1><b> Aprendizaje básico</b></h1>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" (click)="goTo(colors);">
      <ion-img src="/assets/wallpaper_2.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Colores</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(numbers);">
      <ion-img src="/assets/wallpaper_1.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Números</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(family);">
      <ion-img src="/assets/wallpaper_3.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Familia</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card" (click)="goTo(months_days);">
      <ion-img src="/assets/wallpaper_4.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Días y Meses</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(meals);">
      <ion-img src="/assets/wallpaper_5.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Alimentos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(objects);">
      <ion-img src="/assets/wallpaper_6.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Objetos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(human_body);">
      <ion-img src="/assets/wallpaper_7.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Cuerpo humano</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(verbs);">
      <ion-img src="/assets/wallpaper_8.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Verbos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card" (click)="goTo(animals);">
        <ion-img src="/assets/wallpaper_9.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Animales</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content>
