<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <h1><b> Aprendizaje básico</b></h1>
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Colores</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Números</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Objetos del aula</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Días de la semana</ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
